@import "tailwindcss";

@theme {
  --color-primary-color: #194A99;
  --color-secondary-color: #2095c2;
  --color-terciary-color: #2a9134;
  --color-background-color: #194A99;
  --color-green-edit: #90ee90;
  --color-soft-blue: #6BB7D6;
  --color-ultra-soft-blue: #eff5fa;
  --color-red-warning: #d0342c;
}